<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Register Tab -->
  <ion-tab title="Register" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/log/register">
    <ion-nav-view name="tab-register"></ion-nav-view>
  </ion-tab>

  <!-- Login Tab -->
  <ion-tab title="Login" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/log/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

</ion-tabs>
