<ion-view view-title="Login Form">
  <ion-content>
<form ng-submit="submit()" name="loginForm">

<label class="item item-input">
  <span class="input-label">Username</span>
  <input type="text" ng-model="user.name" placeholder="User Name" required ng-minlength="4">
</label>

<label class="item item-input">
  <span class="input-label">Password</span>
  <input type="password" ng-model="user.password" placeholder="Password" required ng-minlength="4">
</label>

<input class="button button-block button-positive" type="submit" value="Login" ng-disabled="loginForm.$invalid">
</form>
  </ion-content>
</ion-view>
