<ion-view view-title="Register Form">
  <ion-content>
<form ng-submit="submit()" name="registrationForm">
<label class="item item-input">
  <span class="input-label">Username</span>
  <input type="text" ng-model="user.name" placeholder="User Name" required ng-minlength="4">
</label>

<label class="item item-input">
  <span class="input-label">E-Mail</span>
  <input type="text" ng-model="user.email" placeholder="E-Mail"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required ng-minlength="4">
</label>

<label class="item item-input">
  <span class="input-label">Password</span>
  <input type="password" ng-model="user.password" placeholder="Password" required ng-minlength="4">
</label>

<input class="button button-block button-positive" type="submit" value="Submit" ng-disabled="registrationForm.$invalid">
</form>
  </ion-content>
</ion-view>
