<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Logout" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/login">
    <ion-nav-view name="tab-logout"></ion-nav-view>
  </ion-tab>

</ion-tabs>


