/* Empty. Add your own CSS if you like */
.received {
   background-color: rgba(255, 0, 0, 0.32);
}
.sent {
   background-color: rgba(0, 0, 255, 0.22);
}
.chat {
   width:60%;
}

.animation {
   -webkit-transition: 1s;
}
.animation.ng-enter {
   opacity: 0;
}
.animation.ng-leave {
   opacity: 1;
}
.animation.ng-enter.ng-enter-active {
   opacity: 1;
}
.animation.ng-leave.ng-leave-active {
   opacity: 0;
}


.animation2 {
   -webkit-transition: 1s;
}
.animation2.ng-enter {
   -webkit-transform:scale(0);
   -webkit-transition-property: all;
   -webkit-transition-timing-function: ease-out-cubic;
   -webkit-transition-duration: 400ms;
}
.animation2.ng-leave {
   -webkit-transform:scale(0);
}
.animation2.ng-enter.ng-enter-active {
   -webkit-transform:scale(1);
}
.animation2.ng-leave.ng-leave-active {
   -webkit-transform:scale(0);
}
